/* /////////////////////////////////////////////////////////////////////////// */
/* Main Elements */

body {
    background: rgb(244, 250, 248);
    z-index: -2;
}

#leftTop {
    height: 70%;
    padding: 0;
    width: 100%;
}

#leftBottm {
    height: 30%;
}

.row {
    /* border: solid red; */
    width: 100%;
}

/* //////////////////////////////////////////////////////////////////////// */
/* Battlefield */

#enemyZone {
    height: 35%;
    width: 100%;
}
#neutralZone {
    height: 30%;
    width: 100%;
}
#playerZone {
    height: 35%;
    width: 100%;
}
#playerPokemonBack {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
}
#playerPokemon{
    position: relative;
    z-index: 1;
}
#enemyPokemonFront {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
}
#enemyPokemon{
    position: relative;
    z-index: 1;
}
#enemyGetHit {
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 50px solid red;
    margin: 10px auto;
    top: 20%;
    right: 40%;

}

#enemyGetHit:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 50px solid red;
    margin: 15px 0 0 -25px;
}
#playerGetHit {
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 50px solid red;
    margin: 10px auto;
    top: 20%;
    right: 40%;

}

#playerGetHit:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 50px solid red;
    margin: 15px 0 0 -25px;
}

#sleepingAnime{
    position: absolute;
    top: 30%;
    right: 50%;
    color: #FF4C6A;
}
#sleepingAnime2{
    position: absolute;
    top: 30%;
    right: 50%;
    color: #FF4C6A;
}
#poisonOverlay {
    position: absolute;
    top:10%;
    left: 45%;
    z-index: 10;
    height: 25px;
    width:25px;
    margin: 20px auto;
    border-radius: 50%;
    background: rgba(216, 8, 188, 1) -webkit-radial-gradient(center 75%, ellipse contain, rgb(99, 3, 99), rgba(243, 3, 203, 0) 60%);
    box-shadow: inset 0 0px 6px rgba(0,0,0,.5), inset 0 -1px 6px rgba(0,0,0,.4),  inset 0 8px 3px rgba(0,0,0,.3), inset 0 10px 3px rgba(255,255,255,.1), 0 3px 6px rgba(0,0,0,.5);
}
#poisonOverlay2 {
    position: absolute;
    top:10%;
    left: 58%;
    z-index: 10;
    height: 25px;
    width:25px;
    margin: 20px auto;
    border-radius: 50%;
    background: rgba(216, 8, 188, 1) -webkit-radial-gradient(center 75%, ellipse contain, rgb(99, 3, 99), rgba(243, 3, 203, 0) 60%);
    box-shadow: inset 0 0px 6px rgba(0,0,0,.5), inset 0 -1px 6px rgba(0,0,0,.4),  inset 0 8px 3px rgba(0,0,0,.3), inset 0 10px 3px rgba(255,255,255,.1), 0 3px 6px rgba(0,0,0,.5);
}
.burnOverlay{
    bottom: 15%;
    left: 30%;
    position: absolute;
    border-radius: 50% 0% 50% 50%;
    transform: rotate(-45deg);
    background-color: rgb(247, 104, 53);
    height: 25px;
    width: 25px;
    z-index: 5;
}
#freezeOverlay {
    position: absolute;
    bottom: 7%;
    z-index: 5;
    width: 100%;
    height: 100%;
    border-radius: 50% 50% 15% 15%;
    background-color: rgb(169, 231, 233);
    z-index: 5;
    opacity: .6;
}

#paralyzeOverlay{
    position: relative;
    z-index: 1;
    width: 200px;
    height:200px;
    background: 
    linear-gradient(45deg, #ECEDDC 25%, transparent 25%) 0 -50px,
    linear-gradient(135deg, #ECEDDC 25%, transparent 25%) 0  -50px,
    linear-gradient(225deg, #ECEDDC 25%, transparent 25%),
    linear-gradient(315deg, #ECEDDC 25%, transparent 25%);	
    background-size: 20px 20px;
    background-color: #EC173A;
  }
#player1Lose {
    position:fixed;
    top:0;
    left:0;
    /* width:100%;
    height:100%; */
    z-index: -1;
    }



/* //////////////////////////////////////////////////////////////////////////////////// */
/* Testing */
.specialAttack {
    left: 40%;
    top: 30%;
    position: absolute;
    width: 100px; 
    height: 57.74px;
    background-color: orange;
    margin: 28.87px 0;
    border-radius: 50% 20% / 10% 40%;
  }
  
  .specialAttack:before,
  .specialAttack:after {
    left: 50%;
    content: "";
    position: absolute;
    z-index: 1;
    width: 70.71px;
    height: 70.71px;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background-color: inherit;
    left: 14.6447px;
    border-radius: 50% 20% / 10% 40%;
  }
  
  .specialAttack:before {
    top: -35.3553px;

  }
  
  .specialAttack:after {
    bottom: -35.3553px;

  }
  
  /*cover up extra shadows*/
  .specialAttack span {
    display: block;
    position: absolute;
    top:0px;
    left: 0;
    width:100px;
    height:57.7350px;
    z-index: 2;
    background: inherit;
  }

/* /////////////////////////////////////////////////////////////////////////// */
/* Buttons */

button {
    border-radius: 7px;
}

#turnContent {
    overflow-x: hidden;
}

#turnCounter {
    margin:0;    
}

/* /////////////////////////////////////////////////////////////////////////// */
/* Navbar/Archived */

/* .ask {
    border: solid black;
}

.far {
    padding-left: 25px; 
}

nav {
    justify-content: space-between;
    align-self: flex-end;
} */

/* header {
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 5em;  
} */

/* .container {
    height: 50em;
    overflow-y: scroll; 
} */