body{
    background: rgb(244, 250, 248);
    /* width:100%; */
}
nav{
    display: flex;
    justify-content: left;
    align-self: flex-end;
    /* justify-self: left; */
}
header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 5em;  
}
.head2{
    
}
.cont1{
    /* display: flex;
    flex-wrap: wrap; */
    height: 50em;
    overflow-y: scroll;
     
}
.text{
    position: absolute;
    bottom: 0;
    left: 0;
}
input{
    width:75%;
}
.turnContent{
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
}
.headturn{
    margin:0;
}
.sidebar{
    width: 100%;
}
.ask{
    display: flex;
    justify-content: space-between;
}
.attackBtn{
    display: flex;
    justify-content: space-between;
}
.swichBtn{
    display: flex;
    justify-content: space-between;
}